<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-5"><h2>Weather Search</h2></div>
    </div>
    <hr>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-sm-2 control-label labelMagrinTop">City Name</label>
      <div class="col-xs-12 col-md-5 col-lg-4">
        <input class="form-control" formControlName="cityName" id="cityName" type="text"
        [ngClass]="{ 'is-invalid': submitted && f.cityName.errors }" placeholder="City Name">
      </div>
      <div *ngIf="submitted && f.cityName.errors" class="invalid-feedback errorCls">
          <div *ngIf="f.cityName.errors.required">City Name is required</div>
      </div>
    </div>  
    <div class="form-group row">
        <label for="disabledInput" class="col-sm-2 control-label labelMagrinTop">Start Date</label>
        <div class="col-xs-12 col-md-5 col-lg-4">
          <input
            class="form-control"
            #dpFull="bsDatepicker"
            bsDatepicker
            formControlName="startDate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY, h:mm:ss a' }">
        </div>
      </div>
    <div class="form-group row">
      <label for="disabledInput" class="col-sm-2 control-label labelMagrinTop">End Date</label>
      <div class="col-xs-12 col-md-5 col-lg-4">
        <input
          class="form-control"
          #dpFull="bsDatepicker"
          bsDatepicker
          formControlName="endDate"
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY, h:mm:ss a' }">
      </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-sm-2" style="margin-left: 20px;">
          <button type="submit" class="btn btnwidth" >Get History</button>
        </div>
        <div class="col-sm-2" *ngIf="tableFlag">
          <button type="button" class="btn btnwidth" (click) = 'saveData()' [disabled]="disableSaveButton" >Save Data</button>
        </div>
        <div class="col-sm-2" *ngIf="tableFlag" >
            <button type="button" class="btn btnwidth" [disabled]="disableExportButton" (click)='downloadWeatherPdf()'>Export as PDF</button>
        </div>
        <div class="col-sm-5 successMessgae" *ngIf="dataSavesuccess" >
            <p>Data Saved Success.</p>
        </div>
    </div>
    <hr>
  </form>

  <div class="container" *ngIf="tableFlag">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Weather</th>
          <th scope="col">Temperature</th>
          <th scope="col">Min/Max Temperature</th>
          <th scope="col">Pressure</th>
          <th scope="col">Airspeed</th>
          <th scope="col">Humidity</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of weatherContent">
          <tr>
            <td>{{item.date | date:'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{item.cityName}}</td>
            <td>{{item.weather}}</td>
            <td>{{item.temprature}}</td>
            <td>{{item.minT}}/{{item.maxT}}</td>
            <td>{{item.pressure}}</td>
            <td>{{item.airspeed}}</td>
            <td>{{item.humidity}}</td>
          </tr>
      </tbody>
    </table>

  </div>

</div>